<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.system.support.dao.MenuApiDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yang.system.client.entity.MenuApi">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="dr" property="dr" />
        <result column="api_id" property="apiId" />
        <result column="menu_id" property="menuId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a.id, a.create_time, a.update_time, a.create_user_id, a.update_user_id, a.dr, a.api_id, a.menu_id
    </sql>

    <select id="getMenuApis" resultType="com.yang.system.client.vo.MenuApiVo">
        select <include refid="Base_Column_List"/>,b.api_path
        from menu_api a
        left join api b on a.api_id = b.id and b.dr = 0
        where a.menu_id = #{menuApiVo.menuId}
        <if test="menuApiVo.apiPath !=null">
            and b.api_path like concat('%',#{menuApiVo.apiPath},'%')
        </if>
    </select>
</mapper>
